@page
@model Online_Ordering_System.Pages.ShopModel
@{
    ViewData["title"] = "Shop";
}

<div class="detail-banner mb-4">
    <div class="container">
        <a asp-page="/List" class="btn btn-link mt-3"><i class="fas fa-angle-left mr-3"></i>Go Back to List</a>
        <div class="detail-info">
            <h1>@Html.DisplayFor(m => m.Shops.Name)</h1>
            <p>@Html.DisplayFor(m => m.Shops.Address), @Html.DisplayFor(m => m.Shops.PostalCode), @Html.DisplayFor(m => m.Shops.State), @Html.DisplayFor(m => m.Shops.City), @Html.DisplayFor(m => m.Shops.Country)</p>
            <div class="item-list-footer">
                <span class="badge badge-secondary">Light</span>
                <span class="badge badge-secondary">Light</span>
                <span class="badge badge-secondary">Light</span>
            </div>
        </div>

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Description</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Ratings & Reviews <span class="badge badge-primary">9</span></a>
            </div>
        </nav>
    </div>
</div>

<div class="container">
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="tab-content-detail">

                @* List of Products *@
                @if (Model.Products.Count() > 0)
                {
                    <form method="post" class="row">
                        @foreach (var item in Model.Products)
                        {
                            <div class="col-sm-3 mb-3">
                                <div class="card">
                                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="Product">
                                    <div class="product-card-details">
                                        <div class="product-card-name">@Html.DisplayFor(m => item.Name)</div>
                                        <div class="product-card-price">RM <span>@Html.DisplayFor(m => item.Price)</span></div>
                                    </div>
                                    <div class="qty-card-details form-row">
                                        <label class="col-3 col-form-label">Qty</label>
                                        <div class="col-8">
                                            <select class="form-control" id="inputQuantity">
                                                <option value="0">0</option>
                                                @for (var i = 1; i <= item.QtyInStock; i++)
                                                {
                                                    <option value="@i">@i</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="pay-button-area col-md-12">
                            <button type="button" onclick="Submit()" class="btn btn-primary float-right w-25">Add to Cart</button>
                        </div>
                    </form>
                }
                else
                {
                    <p>No Product Found!</p>
                }
            </div>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="tab-content-detail">
                @for (var i = 0; i < 10; i++ )
                {
                    <div class="media review-card">
                        <img src="https://placehold.it/25x25/" alt="profile-img" class="align-self-start mr-3" />
                        <div class="media-body">
                            <h5 class="mt-0">Alvin Lee</h5>
                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                            <span class="text-muted">1 min ago</span>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
</div>

@section Scripts {

<script type="text/javascript">

    function Submit() {
        const qty = document.getElementById("inputQuantity").value;

        if (qty > 0) {
            Swal.fire(
                'Good job!',
                'You clicked the button!',
                'success'
            );
        } else {
            Swal.fire(
                'Oops...',
                'Please select any quantity you want!',
                'error'
            );
        }
    }

</script>

}

