@page
@model Online_Ordering_System.Pages.AdminPages.ProductList.IndexModel
@{
    ViewData["title"] = "List Product";
}

<div class="col-9">
    <h3>Product List</h3>
</div>
<div class="col-3">
    <a asp-page="Create" class="btn btn-outline-dark form-control">Create New Product</a>
</div>

<div class="col-md-12 mt-3">
    @if (Model.Products.Count() > 0)
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(m => m.Products.FirstOrDefault().Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Products.FirstOrDefault().QtyInStock)
                    </th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Products)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.QtyInStock)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Price)
                        </td>
                        <td>
                            <button asp-page-handler="Delete" asp-route-id="@item.ProductID" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger btn-sm">Delete</button>
                            <a asp-page="Edit" asp-route-id="@item.ProductID" class="btn btn-success btn-sm text-white">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No books available.</p>
    }
</div>