<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ordern</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/product.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/angular/angular.min.js"></script>

    @RenderSection("Scripts_Top", required: false)

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Ordern</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                @if (User.Identity.IsAuthenticated)
                {
                    <div class="navbar-collapse collapse">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Cart"><i class="fas fa-shopping-cart"></i> <span class="ml-2">My Cart</span> </a>
                            </li>
                        </ul>
                        <div class="dropdown">
                            <button class="btn btn-sm btn-outline-primary ml-3 px-3" data-toggle="dropdown">Hi, @Context.User.Identity.Name </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" asp-area="" asp-page="/Profile">Profile</a>
                                <a class="dropdown-item" asp-area="" asp-page="/AdminPages/Dashboard">Sell My Products</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-page="/SignOut">Log Out</a>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="navbar-collapse collapse">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/SignIn">Sign In</a>
                            </li>
                        </ul>
                        <a class="btn btn-sm btn-outline-primary ml-2 px-3" asp-area="" asp-page="/SignUp">Sign Up</a>
                    </div>
                }

            </div>
        </nav>
        <div class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow" id="search-navbar">
            <div class="container">
                <div class="w-100">
                    <form class="form-row" action="/List">
                        <div class="col-md-10 col-sm-10">
                            <input type="text" name="search" class="form-control" placeholder="Search for products, brands and shops" />
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <button type="submit" class="btn btn-dark form-control">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await Html.PartialAsync("_FooterLayout")

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
